{
  "app": {
    "bundleName": {{ bundle_name | json }},
    "vendor": {{ vendor | json }},
    "versionCode": {{ app_version_code }},
    "versionName": {{ app_version_name | json }},
    "buildVersion": {{ app_build_version | json }},
    "icon": "$media:layered_image",
    "label": "$string:app_name"
  }
}
